{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true // Enable JSX parsing
    },
    "requireConfigFile": false, // Allow ESLint to run without requiring a Babel config file
    "babelOptions": {
        "presets": ["@babel/preset-react"]
     }
},
  "plugins": [
    "react",
    "react-hooks"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "rules": {
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "react/react-in-jsx-scope": "off", // Not needed for React 17+
    "react-hooks/rules-of-hooks": "error", // Enforce rules of hooks
    "react-hooks/exhaustive-deps": "warn" // Warn about missing dependencies in hooks
  },
  "env": {
    "browser": true,
    "node": true,
    "es2021": true
  }
}