/* Password field container */
.password-field {
  position: relative;
  display: inline-block;
  width: 100%; /* Ensure the container takes up the full width */
}

/* Password input */
.password-field .input-field {
  width: 100%; /* Ensure the input field takes up the full width */
  padding-right: 50px; /* Add space for the toggle button */
  border: 1px solid #cccccc;
  border-radius: 4px;
  font-size: 1rem;
  padding: 0.8rem;
  box-sizing: border-box; /* Include padding and border in the element's total width */
}

/* Toggle password button */
.toggle-password {

  top: 50%; /* Center vertically */
  right: 10px; /* Position the button inside the input field */
  transform: translateY(-5%);
  background-color: transparent;
  border: none;
  color: #007bff;
  cursor: pointer;
  font-size: 0.75rem; /* Smaller font size */
  padding: 2px 5px; /* Compact padding */
  height: auto; /* Ensure the button height adjusts to its content */
  width: auto; /* Ensure the button width adjusts to its content */
}

.toggle-password:hover {
  text-decoration: underline;
  color: #0056b3;
}